name: Copy code

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Upload project to EC2
        run: |
          echo "${{ secrets.KEY }}" > key.pem
          chmod 600 key.pem
          scp -o StrictHostKeyChecking=no -i key.pem -r . ubuntu@${{ secrets.HOST }}:/home/ubuntu/app
